@font-face {
    font-family:"fuente1";
    src: url(../fonts/fuente1.ttf);
}
@font-face {
    font-family:"fuente2";
    src: url(../fonts/fuente2.ttf);
}
@font-face {
    font-family:"fuente3";
    src: url(../fonts/fuente3.ttf);
}
@font-face {
    font-family:"fuente4";
    src: url(../fonts/fuente4.ttf)
}