@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
*{
    margin:0;
    padding:0;
}

h1 {
    font-family:"fuente4";
    padding-bottom: 20px;
    font-size:60px;
    background:linear-gradient(90deg, #FF0000,#FF0051, #FF0087, #FF00C9, #FF00B9, #FF009B, #FF003E, #FF0017);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
}   
@keyframes animate{
    0%{
        background-position: 0 0;
    }

    50% {
        background-position: 80rem;
    }
    100% {
        background-position: 0 0;
    }
}

body{
    width: 90%;
    margin: 20px auto;
    background-image:url(../img/fondo.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color:hotpink;
    max-width: 2000px;
    font-family:"Mochiy Pop P One";
}
ul {
    font-family: "fuente1";
}
header nav {
    background-color: red;
    overflow: hidden;
    font-size: 25px;
    border-radius: 10px;
}
header nav li {
    list-style:none;
    float: left;

}
header nav li a {
    padding: 10px 40px;
    display: block;
    text-decoration: none;
    color: white;
}
header nav li a:hover{
   background-color:#D00707; 
}

.main .articles {
    margin-top: 30px;
    float: left;
}
article {
    background-color: white;
}

h2 {
    margin:10px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size:50px;
    font-family: "fuente3";
}
p {
    padding-left: 15px;
    width:64%;
    color: #D10E93;
}

#imagen1 {
    position: absolute;
    right:97px;
    top: 270px;
    width:390px;
}

#imagen2 {
    position: absolute;
    right:97px;
    top: 630px;
    width:390px;

}
#art2 {
    padding-top: 30px;
    padding-bottom: 25px;
}
footer {
    text-align:center;
    color: black;
    

}